<div id="home-page">
  <h1>Rate My Plate</h1>
  <i class="fa fa-camera-retro fa-5x"></i>
  </br>
  <form class="form-inline">
    <div class="form-group" id="enterdish">
      <i class="fa fa-map-marker fa-2x"></i>
      <input class="form-control" type="text" placeholder="Please check in" style="display:inline">
    </div>
  </form>

<!-- RATING - Form -->
  RATING STARS
  <div class="rating">
  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
  </div>

<!-- Comment blurb -->

  <textarea placeholder="Leave a comment? (optional)" class="form-control" rows="3"></textarea>

<!-- Submit button -->
  <button type="button" id="submitbutton" class="btn btn-success">GO</button>

</div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<script src="/public/js/static_pages/home.js"></script>
<link rel="stylesheet" href="public/css/static_pages/home.css">
