<div id="home-page">
  <h1>Rate My Plate</h1>
  <i class="fa fa-camera-retro fa-5x"></i>
  </br>
    <div class="form-group" id="enterrestaurant">
      <input class="form-control" id="locationTextField" placeholder="Step 1: Enter restaurant name">
    </div>
    <div class="form-group" id="enterdish">
      <input class="form-control" id="dishNameTextField" type="text" placeholder="Step 2: Enter dish name" disabled>
    </div>

<!-- RATING - Form -->
  <div class="ratingdiv">
    <span class="ratinglabel">
      RATING:&nbsp&nbsp&nbsp
    </span>
    <span class="allstars">
      <span id="rating5">☆</span><span id="rating4">☆</span><span id="rating3">☆</span><span id="rating2">☆</span><span id="rating1">☆</span>
    </span>
  </div>

<!-- Comment blurb -->

  <textarea id="commentblurb" placeholder="Leave a comment? (optional)" class="form-control" rows="3"></textarea>

<!-- Submit button -->
  <% if (authenticated) { %>
    <button type="button" id="submitbutton" alt="<%= user_id %>" class="btn btn-success">GO</button>
  <% } else { %>
    <button type="button" id="falsesubmitbutton" data-toggle="modal" data-target="#signin-modal" class="btn btn-success">GO</button>
  <% } %>
  <!-- Check in modal -->
  <div class="modal fade" id="checkinmodal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="checkinmodal-title">Check in to restaurant</h4>
        </div>
        <div class="modal-body">
          <!-- Search box goes here -->
          <form>
            <input class="searchbox" type="text" placeholder="Search..." required>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<script src="/public/js/static_pages/home.js"></script>
<link rel="stylesheet" href="public/css/static_pages/home.css">
