<!-- Sign up static page -->
<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="/public/js/static_pages/signup.js"></script>
  <link rel="stylesheet" href="public/css/static_pages/signup.css">

</head>
<body>
  <div id="signup-page">
    <h1>Rate My Plate</h1>
    <h3>Sign Up</h3>
    <form id="signup">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="submit" name="Sign Up">
    </form>
    <div id="signup-form-message"></div>
  </div>
</body>

