<!-- This page will display all the entries from the user -->
<div class="mainheader">
  <%= username %>'s entries
</div>
<% entries.forEach(function(entry){ %>
<div class="entrydiv">
  <div class='headerdiv'>
    <span class='headerspan1'><a href="/dishpage/<%=entry.dishID %>"><%= entry.dishName %></a></span>
    <span class='headerspan2'>@ <%= entry.restaurantName %>
      <% if (currentid===user_id) { %>
        <span alt="<%=entry._id%>" class='entypo-cancel-squared'></span>
      <% } %>
    <span>
  </div>
  <div class='photodiv'>
    <img src="<%= entry.imageURL%>">
  </div>

  <div class="photodetails">
    <% if (entry.dishRating===1) { %>
      <span class="stars">★☆☆☆☆</span>
    <% } else if (entry.dishRating==2){ %>
      <span class="stars">★★☆☆☆</span>
    <% } else if (entry.dishRating==3){ %>
      <span class="stars">★★★☆☆</span>
    <% } else if (entry.dishRating==4){ %>
      <span class="stars">★★★★☆</span>
    <% } else if (entry.dishRating==5){ %>
      <span class="stars">★★★★★</span>
    <% } %>
    <span class="entrydate">
      <%= entry.readableDate %>
    </span>
  </div>
  <% if (entry.comment){ %>
  <div class="commentdiv">
    <% if (currentid===user_id) { %>
      <input class="txtBox" type="textbox" alt="<%=entry._id%>" value="<%=entry.comment %>" style="display:none;" />
    <% } %>
    <div class="commentbox">
      <%= entry.comment %>
    </div>
  </div>
  <% } %>
</div>
<% }) %>



<script src="/public/js/static_pages/entries_pages.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/entries_pages.css">
