<!-- This page will display all the entries from the user -->
<div class="mainheader">
  <%= username %>'s entries
</div>
<% entries.forEach(function(entries){ %>
<div class="entrydiv">
  <div class='headerdiv'>
    <span class='headerspan1'><a href="/dishpage/<%=entries.dishID %>"><%= entries.dishName %></a></span>
    <span class='headerspan2'>@ <%= entries.restaurantName %>
      <% if (currentid===user_id) { %>
        <span alt="<%=entries._id%>" class='entypo-cancel-squared'></span>
      <% } %>
    <span>
  </div>
  <div class='photodiv'>
    PHOTO HERE
  </div>

  <div class="photodetails">
    <% if (entries.dishRating===1) { %>
      <span class="stars">★☆☆☆☆</span>
    <% } else if (entries.dishRating==2){ %>
      <span class="stars">★★☆☆☆</span>
    <% } else if (entries.dishRating==3){ %>
      <span class="stars">★★★☆☆</span>
    <% } else if (entries.dishRating==4){ %>
      <span class="stars">★★★★☆</span>
    <% } else if (entries.dishRating==5){ %>
      <span class="stars">★★★★★</span>
    <% } %>
    <span class="entrydate">
      <%= entries.readableDate %>
    </span>
  </div>
  <% if (entries.comment){ %>
  <div class="commentdiv">
    <% if (currentid===user_id) { %>
      <input class="txtBox" type="textbox" alt="<%=entries._id%>" value="<%=entries.comment %>" style="display:none;" />
    <% } %>
    <div class="commentbox">
      <%= entries.comment %>
    </div>
  </div>
  <% } %>
</div>
<% }) %>



<script src="/public/js/static_pages/entries_pages.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/entries_pages.css">
