<!-- This page will display all the entries from the user -->
This page will display all the entries from the user


<script src="/public/js/static_pages/userpage.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/userpage.css">

<% entries.forEach(function(entries){ %>
<div>
  <div class='headerdiv'>
    <span class='headerspan'><%= entries.dishName %></span>
    <span class='headerspan2'>hi <%= entries.date %><span>
  </div>
  <h3><%= entries.user_id %></h3>
  <h4><%= entries.comment %></h4>
</div>
<% }) %>

<span class="fontawesome-signout"></span>