
.mainheader {
  font-size: 22px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background: white;
  border: #EDEDED solid 1px;
  padding: 10px;
}


.headerdiv {
  font-size: 16px;
  width: 100%;
  display: inline-block;
  padding:8px 15px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: left;
  vertical-align: middle;
  background: white;
}

.headerspan2 {
  float:right;
  font-size: 14px;
}

.stars {
  color: gold;
}

.entrydiv {
  background: white;
  border-radius: 6px;
  border: 1px #EDEDED solid;
  padding-top: 5px;
  padding-bottom:5px;
  margin: 15px auto;
}

.photodiv {
  margin: 0 auto;
  height: 350px;
  border-top: 2px #EDEDED solid;
  border-bottom: 2px #EDEDED solid;
  text-align: center;
  vertical-align: middle;
}

.photodetails {
  height: 30px;
  margin: 10px auto;
  width: 100%;
  font-size: 16px;
  padding: 5px 15px;
  text-align: left;
}

.entrydate {
  margin-left: 20px;
  font-size: 14px;
  float: right;
  height: 100%;
  vertical-align: middle;
}

.commentdiv {
  padding: 15px;
  padding-top: 2px;
  text-align: left;
  margin: 0 auto;
}

.commentbox {
  padding: 5px;
  border-radius: 5px;
  border: 2px #EDEDED solid;
}

/*specifically for dishpage*/

.dishpageheader {
  font-size: 16px;
  border-bottom: 2px #EDEDED solid;
  text-align: left;
  background: white;
  padding: ;
}

.averagerating {
  float: right;
  font-size: 16px;
}