/*h1 {
    font-family: 'Raleway', sans-serif;
    font-size:60px;
    text-align: center;
}*/

#home-page {
    text-align: center;
}

.fa-camera-retro {
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
    margin-top: 15px;
}

.fa-map-marker {
    border: 2px solid black;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;
}

#enterrestaurant {
    margin: 15px auto 15px auto;
    width: 300px;
}

#enterdish {
    width: 300px;
    margin: 15px auto 15px auto;
}


/*Comment Box*/

#commentblurb {
  width: 300px;
  margin: 0 auto;
}


/*Rating Stars*/
.ratingdiv {
    width: 300px;
    position: relative;
    margin: 15px auto 15px auto;
    text-align: left;
}

.ratinglabel {
    text-align: left;
    margin-left: 12px;
    font-size: 20px;
}

.allstars {
    text-align: right;
    margin-left: 50px;
    font-size: 30px;
    color: gold;
    font-weight: lighter;
}

.allstars {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.allstars > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.allstars > span:hover:before,
.allstars > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.btn-success {
  margin-top: 20px;
  height: 45px;
  width: 300px;
}