@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://weloveiconfonts.com/api/?family=fontawesome");

h1 {
    font-family: 'Raleway', sans-serif;
    font-size:60px;
    text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  background: #71757a;
}



[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* The page and all its content */
#everything {
  margin: 0 auto;
/*  min-width: 500px;
  max-width: 600px;*/
  width: 66%;
}


/*NavBar Stuff*/

[role="search"]{
  width: 80%;
}

.navbar-form .form-group {
  width: 100%;
}

.navbar-form .form-control {
  width: 100%;
}

/*For all fontawesome icons other than Lock*/

[class*="fontawesome-"] {
  display: inline;
  font-size: 36px;
  margin-left: 10px;
}

/*Rating Stars*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

/*Log in modal*/

.modal-dialog {
    width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
#modal-footer-sign-in .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}

#registeraccount {
  text-align: left;
  font-weight: 100;
  font-size: 12px;
}

/*Sign up modal */